<div id="signin-page" class="signin-page" data-ng-controller="AuthenticationController">
	<form ng-init='setRoles()' data-ng-submit="signup()" class="page-form form-signup box-shadow" autocomplete={{autocomplete}}>
		<div class="h3 mhxxl mvl">Sign Up</div>
		<hr class="ruler man border-primary "/>
		<div class="body-content bg-white">
			<div class="error-message text-red mbs" ng-show="error" ng-bind="error"></div>
			<div class="error-message text-success mbs" ng-show="success" ng-bind="success"></div>
			<div class="form-group mtl phxl text-large">
				<div class="group">
					<input type="text" required name="firstName" class="pam firstName used" data-ng-model="credentials.firstName" placeholder="Enter First Name"><span class="bar"></span>
					<label>First Name</label>
				</div>
			</div>
			<div class="form-group mtl phxl text-large">
				<div class="group">
					<input type="text" name="lastName" class="pam used" data-ng-model="credentials.lastName" placeholder="Enter Last Name" required><span class="bar"></span>
					<label>Last Name</label>
				</div>
			</div>
			<div class="form-group mtl phxl text-large">
				<div class="group">
					<input type="email" id="email" name="email" class="pam used" data-ng-model="credentials.email" placeholder="Enter Your Email" required><span class="bar"></span>
					<label>Email</label>
				</div>
			</div>
			<div class="form-group mtl phxl text-large">
				<div class="group">
					<input type="text" id="username" name="username" class="pam used" data-ng-model="credentials.username" placeholder="Enter Your Username" required><span class="bar"></span>
					<label>Username</label>
				</div>
			</div>
			<div class="form-group mtl phxl text-large">
				<div class="group">
					<input type="password" id="password" name="password" class="pam used" data-ng-model="credentials.password" placeholder="Enter Your Password" required><span class="bar"></span>
					<label>Password</label>
				</div>
			</div>
			<div class="form-group mtl phxl">
				<select class="selectpicker form-control text-large" data-ng-model="credentials.roles" required>
					<option value="">-- Select a Role --</option>
					<option value="{{role}}" ng-bind="role" ng-repeat="role in data.roles"></option>
				</select>
			</div>
			<div class="text-right form-group">
				<button type="submit" class="btn btn-large btn-primary">Sign up</button>
			</div>
		</div>
	</form>
</div>
