<div id="dashboard-module" data-ng-controller="DashboardController">

	<div class="search-task">
		<div class="h3 text-white mtn ptl" ng-bind="'dashboard.label_search' | translate"></div>
		<div class="input-textbox col-md-6">
			<div class="input-icon right prs">
				<form ng-submit="searchTask(taskSearchText)">
					<i class="fa baloo-icon-search search-icon img-circle mtx"
					   ng-class="{'bg-primary cursor-pointer text-white':(taskSearchText),'bg-theme-darker cursor-default text-color':!(taskSearchText)}"
					   ng-click="(taskSearchText)? searchTask(taskSearchText):null ">
					</i>
					<input placeholder="{{'dashboard.label_placeholder_text' | translate}}" tabindex="0"
							class="form-control rounded-box text-base box-shadow-two-sides" type="text" ng-model="taskSearchText"/>
				</form>
			</div>

		</div>
	</div>

	<div class="series limit-content">
		<div class = "series-option">
			<p class="user-options h3 mtl" ng-bind="'dashboard.label_product' | translate"></p>
			<div class="office-version pull-right mts" >
				<p class="plm mbn text-small mrs pts" ng-bind="'dashboard.label_catalog' | translate"></p>
				<select class="selectpicker form-control text-large"  ng-options="catalog.title for catalog in catalogs track by catalog._id" ng-model="selectedCatalog" ng-change="onVersionChange()"></select>
			</div>
		</div>

		<div id="series-carousel" class="phl ptl mtx" data-ng-include="'carousel.client.view.html'"></div>

		<hr class="hr-line mvl border-grey"/>
		<div class="row mhn">

			<div class="resources mtx mbl clearfix hide text-center"  ng-class="{true:'mrn'}
				[authorization.canAccess('administration') == true]">
				<div class="resourcetype" ng-class="{true:'col-md-4 col-sm-4 col-xs-4',
				false:{true : 'col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2',false:'col-xs-offset-4 col-xs-4 col-xs-offset-4'}[authorization.canAccess('view_reports')]}
				[authorization.canAccess('administration') == true]">
					<a tabindex="-1">
						<div class="resource-icon" tabindex="0">
							<div product-chooser call-back="launchState(data)" class="icon icon-lib btn-custom img-circle text-color cursor-pointer button-handler">
								<i class="baloo-font baloo-icon-library  mlm text-xx-large util-icon"></i>
							</div>
						</div>
					</a>
					<p class="h4" ng-bind="'dashboard.label_browse_skill' | translate"></p>
					<p class="text-base" ng-bind="'dashboard.label_browse_skill_info' | translate"></p>
				</div>

				<div class="resourcetype" user-can='view_reports' ng-class="{true:'col-md-4 col-sm-4 col-xs-4',
				false:'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1'}
				[authorization.canAccess('administration') == true]">
					<a tabindex="-1">
						<div class="resource-icon" tabindex="0">
							<div class="icon icon-bottom btn-custom img-circle text-color cursor-pointer
							button-handler" ui-sref="reports">
								<i class="baloo-font baloo-icon-report text-xx-large util-icon"></i>
							</div>
						</div>
					</a>
					<p class="h4" ng-bind="'dashboard.label_reports' | translate"></p>
					<p class="text-base" ng-bind="'dashboard.label_reports_info' | translate"></p>
				</div>

				<div class="resourcetype col-md-4"  ng-class="{true:'col-md-4 col-sm-4 col-xs-4',
				false:'col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1'}
				[authorization.canAccess('administration') == true]"  user-can='administration'>
					<a tabindex="-1">
						<div class="resource-icon" tabindex="0">
							<div class="icon icon-bottom btn-custom img-circle text-color cursor-pointer button-handler" >
								<i class="baloo-font baloo-icon-admin util-icon mls text-xx-large"></i>
							</div>
						</div>

					</a>
					<p class="h4" ng-bind="'dashboard.label_administration' | translate"></p>
					<p class="text-base" ng-bind="'dashboard.label_administration_info' | translate"></p>
				</div>

			</div>
		</div>

	</div>

</div>
