<div role="dialog" aria-labelledby="modal-default-label" aria-hidden="true" class="modal fade change-password">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="cent-line-height title bg-theme pal">
                <span class="text-color text-large" ng-bind="'users.change_password.label_title' | translate"></span>
                <button data-dismiss="modal" aria-hidden="true" class="text-color close" ng-click="resetModal()">&times;</button>
            </div>
            <div id="signin-page" class="body signin-page mtm pts">
                <div class="alert-text text-center">
                    <div class="cent-line-height error-message text-red" ng-show="error" ng-bind="error"></div>
                </div>
                <form data-ng-submit="changeUserPassword()" class="page-form box-shadow mtl text-color" autocomplete={{autocomplete}}>
                    <div class="body-content bg-white ptn pbl">
                        <div class="form-group mtl phm">
                            <div class="group">
                                <input type="password" id="currentPassword" name="currentPassword"
                                       class="pam firstName used" data-ng-model="passwordDetails.currentPassword"
                                       placeholder="Enter Current Password" required>
                                <span class="bar"></span>
                                <label class="text-color" ng-bind="'users.change_password.label_current' | translate"></label>
                            </div>
                        </div>
                        <div class="form-group mtl phm">
                            <div class="group">
                                <input type="password" id="newPassword" name="newPassword" class="pam lastName used"
                                       data-ng-model="passwordDetails.newPassword" placeholder="Enter New Password"
                                       required>
                                <span class="bar"></span>
                                <label class="text-color" ng-bind="'users.change_password.label_new' | translate"></label>
                            </div>
                        </div>
                        <div class="form-group mtl mbn phm">
                            <div class="group mbn">
                                <input type="password" id="verifyPassword" name="verifyPassword"
                                       class="pam lastName used" data-ng-model="passwordDetails.verifyPassword"
                                       placeholder="Enter Confirm Password" required>
                                <span class="bar"></span>
                                <label class="text-color" ng-bind="'users.change_password.label_confirm' | translate"></label>
                            </div>
                        </div>
                        <div class="text-center form-group mtl mbn">
                           <!-- <button data-dismiss="modal" class="btn btn-large btn-primary" ng-click="resetModal()">Cancel</button>-->
                            <button type="submit" class="btn btn-large btn-primary" ng-bind="'users.change_password.label_save' | translate"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <div alert-modal='successMessage' show-modal='showModal'></div>
</div>

