<section id="signin-page" class="signin-page" data-ng-controller="AuthenticationController">
	<form data-ng-submit="changeUserPassword()" class="page-form form-signup box-shadow" autocomplete={{autocomplete}}>
		<div class="h3 mhxxl mvl">Change Password</div>
		<hr class="ruler man border-primary "/>
		<div class="body-content bg-white">
			<div class="error-message text-success mbs" ng-show="success">Password Changed Successfully</div>
			<div class="error-message text-red mbs" ng-show="error" ng-bind="error"></div>
			<div class="form-group mtl phxl text-large">
				<div class="group">
					<input type="password" id="currentPassword" name="currentPassword" class="pam firstName used" data-ng-model="passwordDetails.currentPassword" placeholder="Enter Current Password" required><span class="bar"></span>
					<label>Current Password</label>
				</div>
			</div>
			<div class="form-group mtl phxl text-large">
				<div class="group">
					<input type="password" id="newPassword" name="newPassword" class="pam lastName used" data-ng-model="passwordDetails.newPassword" placeholder="Enter New Password" required><span class="bar"></span>
					<label>New Password</label>
				</div>
			</div>
			<div class="form-group mtl phxl text-large">
				<div class="group">
					<input type="password" id="verifyPassword" name="verifyPassword" class="pam lastName used" data-ng-model="passwordDetails.verifyPassword" placeholder="Enter Confirm Password" required><span class="bar"></span>
					<label>Confirm Password</label>
				</div>
			</div>
			<div class="text-right form-group">
				<button type="submit" class="btn btn-large btn-primary">Save Password</button>
			</div>
		</div>
	</form>
</section>
