<div class="import-task">
    <div ng-include="'import.header.client.view.html'"></div>
    <div ui-view></div>
    <div ng-include="'import.footer.client.view.html'"></div>
    <!--<div id="copy-modal" tabindex="-1" role="dialog" aria-labelledby="modal-default-label"
         aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">
                        <span>{{'importModule.label_confirm_copy_scenario_title'| translate}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <span>{{'importModule.label_confirm_copy_scenario_info' | translate}}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">{{'importModule.label_cancel' | translate}}</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="">{{'importModule.label_copy_scenario' | translate}}</button>
                </div>
            </div>
        </div>
    </div>-->
</div>
